body {
  background-color: #42a5f5;
}

.janela{
  background-color: aliceblue;
  width: 250px;
  height: 370px;
}

.numberInput {
  width: 65%;
  background-color: rgb(126, 208, 219);
  padding: 2% 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.fileira{
  padding: 10%;
  background-color: coral;
}

.fileiraPainel{
  background-color: darkgrey;
  width: 70%;
  padding: 5%;
  margin-left: auto;
  margin-right: auto;
}


.digito{
  padding: 20px 30px;
  background-color: darksalmon;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.botao{
  margin: 3%;
}
.hangup{
  background-color: red;
  margin: 50%;
}
.call{
  background-color: lightgreen;
}

.status{
  text-align: center;
  background-color: rgb(178, 184, 178);
}