<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    </head>
  <body>

    <div class="janela">
      <div class="numberInput" contenteditable="true" id="stringDestino"></div>
      <div class="fileira"><span class="digito" id="1">1</span><span class="digito" id="2">2</span><span class="digito" id="3">3</span></div>
      <div class="fileira"><span class="digito" id="4">4</span><span class="digito" id="5">5</span><span class="digito" id="6">6</span></div>
      <div class="fileira"><span class="digito" id="7">7</span><span class="digito" id="8">8</span><span class="digito" id="9">9</span></div>
      <div class="fileira"><span class="digito" id="asterisk">*</span><span class="digito" id="0">0</span><span class="digito" id="pound">#</span></div>
      <div class="painel">
        <div class="fileiraPainel">
          <button class="botao" id="mute"><i id="muteImg" class="fas fa-volume-up"></i></button>
          <button class="botao call" id="call"><i class="fas fa-phone"></i></button>
          <button class="botao" id="clear"><i class="fas fa-times"></i></button>
          <button disabled class="botao hangup" id="hangup"><i class="fas fa-phone-slash"></i></button>
        </div>
        <div class="status" id="status">No Value</div>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/javascript.js') }}"></script>
    <script src="https://sdk.twilio.com/js/client/v1.14/twilio.min.js"></script>

  </body>
</html>